body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: rgb(1, 58, 77);
  color: white;
  text-align: center;
}

.container {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.mouse-event {
  width: 150px;
  border: 1px solid white;
  margin: 0 20px;
  padding: 50px;
  position: relative;
  font-size: 1.5rem;
}

.mouse-event h4 {

  position: absolute;
  top: 150px;
  left:50%;
  transform: translateX(-50%);
  white-space: nowrap;


}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  .mouse-event {
    margin: 20px;
  }
}
